<%- include('./../includes/head.ejs'); %>
    <title><%= pageTitle %></title>
</head>
<body>
    <div class="admin-dashboard">
        <div class="admin-dashboard__grid">
            <div class="admin-dashboard__container-menu">
                <%- include('./../includes/admin-menu.ejs'); %>
            </div>
            <div class="admin-dashboard__container-content">
                <div class="admin-dashboard__container-images">
                    <div class="admin-dashboard__images-buttons">
                        <a class="button button__white" href="add-new-image">Add Image</a>
                    </div>
                </div>
                <table class="admin-dashboard__table-images">
                    <tr>
                        <th><h4 class="body-3">ID</h4></th>
                        <th><h4 class="body-3">Title</h4></th>
                        <th><h4 class="body-3">Caption</h4></th>
                        <th><h4 class="body-3">Description</h4></th>
                        <th><h4 class="body-3">Image URL</h4></th>
                        <th><h4 class="body-3">Image</h4></th>
                        <th><h4 class="body-3">Edit</h4></th>
                        <th><h4 class="body-3">Delete</h4></th>
                    </tr>
                    <% for (let index = 0; index < allImages.length; index++) { %>
                    <tr>
                        <td><p class="body-4"><%= allImages[index].id %></p></td>
                        <td><p class="body-4"><%= allImages[index].title %></p></td>
                        <td><p class="body-4"><%= allImages[index].caption %></p></td>
                        <td><p class="body-4"><%= allImages[index].description %></p></td>
                        <td><p class="body-4"><%= allImages[index].url %></p></td>
                        <td><a href="<%= url %>/images/<%= allImages[index].url %>"><img class="admin-dashboard__table-single-image" src="<%= url %>/images/<%= allImages[index].url %>" alt="<%= allImages[index].title %> image"></a></td>
                        <td><a class="button button__white" href="/admin/edit-image/<%= allImages[index].url %>">Edit</a></td>
                        <td><a class="button button__white" href="/admin/delete-image/<%= allImages[index].url %>">Delete</a></td>
                    </tr>
                    <% } %>
                </table>
            </div>
        </div>
    </div>

<%- include('./../includes/footer.ejs'); %>
