<%- include('./../includes/head.ejs'); %>
    <title><%= pageTitle %></title>
</head>
<body>
    <%- include('./../includes/header.ejs'); %>

    <div>
        <h1><%= articleTitle %></h1>
        <h2><%= articleDescription %></h2>
        <p><%= articleContent %></p>
        <p><%= articleImgeUrl %></p>
    </div>

<%- include('./../includes/footer.ejs'); %>
