<%- include('./../includes/head.ejs'); %>
    <title><%= pageTitle %></title>
    <meta name="description" content="Chi è Marco Valeri? Web Developer, Blogger e Autore attivo su diversi progetti, creatore di ViaggIn, nato a Roma nel 1984, vive attualmente a Londra">
</head>
<body>
    <%- include('./../includes/header.ejs'); %>
<main class="main">
    <div class="content">
        <div class="single-article">
            <div class="single-article__container-title">
                <h1 class="h1"><%= pageTitle %></h1>
            </div>
            <div class="single-article__content">
                <div>
                    <p>Mi chiamo Marco Valeri e ti do il benvenuto nel mio sito, che raccoglie tutti i miei pensieri e le mie idee, quelle che mi hanno fatto arrivare a raggiungere alcuni dei miei sogni pur essendo partito dal basso.</p>
                    <p>&nbsp;</p>
                    <p>Sono nato a Roma nel 1984, una città che ho amato e odiato allo stesso tempo, un luogo che racchiude tante emozioni e persone che hanno fatto e che fanno ancora parte della mia vita.</p>
                    <p>&nbsp;</p>
                    <p>A trent’anni mi sono trasferito a vivere a Londra, città che mi ha cambiato letteralmente la vita.</p>
                    <p>Se i nostri nonni partivano con la valigia di cartone verso il nord Italia, Europa o verso l’America, io sono partito con un volo low cost, pochi soldi e con una valigia piena di voglia di riscatto.</p>
                    <p>&nbsp;</p>
                    <p>Andare via dall’Italia, nonostante avessi più di trent’anni, mi ha fatto mettere un punto sul passato e ripartire da zero, e Londra è stato il luogo giusto in cui farlo.</p>
                    <p>&nbsp;</p>
                    <p>Credimi che azzerare tutto a più di trent’anni fa paura ma allo stesso tempo ti mette in una grande posizione di vantaggio: puoi ricominciare da zero, decidere di essere quello che avresti sempre voluto essere.</p>
                    <p>Non hai più nulla da perdere quando ricominci realmente da zero.</p>
                    <p>Sì, ricominciare da zero mi ha dato il coraggio di fare quello che non avevo mai avuto il coraggio di fare, rincorrere i miei sogni, le mie passioni, la mia vita.</p>
                    <p>&nbsp;</p>
                    <p>Qui a Londra, ho fatto mio un grande concetto di vita, l’età non è mai un limite per essere ciò che vuoi essere.</p>
                    <p>&nbsp;</p>
                    <p>Partito da semplice lavapiatti ho studiato e lavorato duramente per realizzare la mia passione nello scrivere e nel programmare. Mi sono laureato a 37 anni in Computer Science alla <a class="link" rel="noreferrer noopener" href="https://www.bbk.ac.uk/" target="_blank">Birkbeck University of London</a> ed oggi lavoro a tutti gli effetti come Web Developer.</p>
                    <p>&nbsp;</p>
                    <p>Londra è una città multiculturale, ricca di persone provenienti da ogni parte del mondo.</p>
                    <p>Conoscere queste ultime, ascoltare le loro esperienze di vita e condividere i miei pensieri con le stesse, mi ha letteralmente aperto la mente, mi ha fatto capire di come viaggiare (che non significa fare il turista in un lussuoso albergo da qualche parte nel mondo) sia un’attività che apre gli orizzonti della mente.</p>
                    <p>Così, nel 2016, ho creato un magazine online il cui nome è <em>ViaggIn</em> in cui ho raccontato alcune di queste esperienze assieme ad altri fantastici autori sparsi in diverse parti del mondo.</p>
                    <p>Negli anni <em>ViaggIn</em> è diventato un vero e proprio portale di viaggi e di esperienze di vita all’estero.</p>
                    <p>&nbsp;</p>
                    <p>I miei sogni erano quelli di scrivere e di lavorare nel settore dell’informatica.</p>
                    <p>Amo il web, quello che condivide i contenuti che creano valore, quello che ci mette in contatto gli uni con gli altri in modo sano, quello che dà lavoro e che ci permette di crescere professionalmente e mentalmente, e la combinazione di scrivere e programmare mi permette di fare parte di questo incredibile mondo.</p>
                    <p>Dopo la mia laurea ho cominciato infatti a lavorare come programmatore e non ho mai smesso di scrivere per il web e non solo.</p>
                    <p>&nbsp;</p>
                    <p>Nel 2021, dopo essere riuscito realmente a realizzare i miei sogni e a cambiar vita a quasi quarant’anni ho deciso di lanciare <em>marcovaleri.net</em>, il blog che stai leggendo.</p>
                    <p>Ho deciso di racchiudere qui i miei pensieri, le idee che mi hanno permesso di farcela e alcune delle storie che ho incontrato nel mio percorso.</p>
                    <p>Se queste porteranno valore alla tua vita, anche in minima parte, tutti gli sforzi dietro a questo progetto saranno ripagati pienamente.</p>
                    <p>&nbsp;</p>
                    <p>Sentiti libero di leggere, di commentare e di criticare tutto quello che ho messo nero su bianco lungo queste pagine, il confronto con le altre persone è un processo di crescita, sono davvero curioso di sapere di te, di che cosa ti ha portato a leggere queste mie parole oggi.</p>
                    <p>&nbsp;</p>
                    <p>Buona permanenza in marcovaleri.net</p>
                </div>
            </div>
        </div>
    </div>
    <%- include('./../includes/sidebar.ejs'); %>
</main>

<%- include('./../includes/footer.ejs'); %>