<%- include('./../includes/head.ejs'); %>
    <title><%= pageTitle %></title>
</head>
<body>
    <%- include('./../includes/header.ejs'); %>
<main class="main">
    <div class="content">
        <h1>Home page</h1>
        <h2>Content coming soon...</h2>
    </div>
    <%- include('./../includes/sidebar.ejs'); %>
</main>

<%- include('./../includes/footer.ejs'); %>
