<%- include('./../includes/head.ejs'); %>
    <title><%= pageTitle %></title>
</head>
<body>
    <%- include('./../includes/header.ejs'); %>
<main class="main">
    <div class="content">
        <div class="newsletter">
            <div class="newsletter__container-title">
                <h1 class="h1">Grazie per esserti iscritto alla mia newsletter</h1>
                <p class="body-1">Le newsletter è mensile ma può capitare di inviare una email extra quando ho qualche novità da condividere con i miei lettori.</p>
                <p class="body-1">Ci aggiorniamo presto via email.</p>
            </div>
        </div>
    </div>
    <%- include('./../includes/sidebar.ejs'); %>
</main>

<%- include('./../includes/footer.ejs'); %>
